*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: #eee;
}

h1 {
  margin-bottom: 20px;
}

.input-div {
  display: flex;
  align-items: center;
  gap: 5px;
}

#task-input {
  padding: 5px;
  border: 1px solid black;
}

ul {
  width: 30%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

li {
  display: grid;
  grid-template-columns: 1fr 7fr 2fr;
  align-items: center;
  gap: 10px;
}

.li-number,
.li-text {
  padding: 10px;
}

.li-number {
  width: 40px;
  border: 1px solid black;
  text-align: center;
}

.li-controls {
  display: flex;
  gap: 5px;
}

/* BUTTONS */
.btn {
  border: 1px solid black;
  padding: 5px;
  color: white;
}

.submit {
  background-color: green;
}

.edit {
  background-color: orange;
}

.delete {
  background-color: red;
}